/*General styles for all pages*/
body {
    background-color:#F4F3F3;
    margin:0;
    font-family: Arial, Helvetica, sans-serif; 
}
.mainbox {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFF;
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    padding-bottom: 40px;
    margin-top: 50px;
}
h3 {
    font-size: 20px;
}
header {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "tp"
    "h2I"
    "h3I"
    "mnav";
}
#top {
    grid-area: tp;
    text-align: center;
    margin:0;
    padding-left: 0.5em;
    padding-top:0.2em;
    padding-bottom:0.2em;
    background-color: #D04900; /*From example*/
    color: #fff; /*From example*/
}
#h2Ind {
    grid-area: h2I;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-top: 0.5em;
    margin-bottom: 0;
}
#h3Ind {
    margin-left: auto;
    margin-right: auto;
    grid-area: h3I;
    margin-bottom: 0;
}
#mainnav {
    grid-area: mnav;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "home var vil upp for fil";
}
ul {
    max-width: 600px;
}
li {
    display: block;
}   
.navlinks {
    text-decoration: none;
    background-color: #D07E00;
    color: #FFF;
    padding: 10px;
}
#home {
    grid-area: home;
}
#pg2 {
    grid-area: var;
}
#pg3 {
    grid-area: vil;
}
#pg4 {
    grid-area: upp;
}
#pg5 {
    grid-area: for;
}
#pg6 {
    grid-area: fil;
}
/*Styles Index*/
#IndCont {
    display:block;
    margin-left: 25px;
    margin-top:40px;
}
/*Styles Variablar*/
#var {
    margin-top: 35px;
    margin-left: 25px;
}
#uts {
    margin-left: 25px;
}
#message {
    font-family:'Courier New', Courier, monospace; /*From example*/
    display: block;
    margin-left: 25px;
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    margin-right: 25px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
/*Styles Villkor*/
#VilCont {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
#del1 {
    display:grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas: 
    "datum date";
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    font-family:'Courier New', Courier, monospace;
}
#datum {
    grid-area: datum;
    padding:0;
    margin: 0;
    font-weight: 700;
}
#date {
    grid-area: date;
}
#del2 {
    display: block;
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    font-family:'Courier New', Courier, monospace;
}
#del3 {
    display: block;
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    font-family:'Courier New', Courier, monospace;
}
#del4 {
    display: block;
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    font-family:'Courier New', Courier, monospace;
}
#counter {
    display: block;
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    margin-right: 25px;
    margin-left: 25px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
}
#coursersul {
    display: block;
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    margin-right: 25px;
    margin-left: 25px;
    font-family:'Courier New', Courier, monospace;
}
#coursersul li {
    display: list-item;
}
#coursersol{
    display: block;
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    margin-right: 25px;
    margin-left: 25px;
    font-family:'Courier New', Courier, monospace;
}
#coursersol li {
    display: list-item;
}
.margin {
    margin-left: 25px;
}
.formbox {
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    margin-right: 25px;
    margin-left: 25px;
    font-family:'Courier New', Courier, monospace;
}
#warning {
    float: right;
}
#del1form, #del2form {
    display: grid;
    
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: 30% 5% 30% 5% 30%;
    grid-template-areas: 
    "first second"
    ". ."
    "third forth"
    ". ."
    "fifth .";
}
.first {
    grid-area: first;
} 
.second {
    grid-area: second;
}
.third {
    grid-area: third;
} 
.forth {
    grid-area: forth;
} 
.fifth {
    grid-area: fifth;
    max-width: 60px;
    background-color: #D07E00;
    color: #FFF;
    padding: 5px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
}
#calcbox {
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    font-family:'Courier New', Courier, monospace;
}
#fileread {
    border-style: solid;
    border-color:  grey;
    border-width:  1px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    font-family:'Courier New', Courier, monospace;
}
#fileread li {
    display: list-item;
}
#pFooter {
    font-size: 12px;
    text-align: center;
    margin: 50px;
    
}